@model IEnumerable<AAL.Models.Order>

@{
    ViewData["Title"] = "Order list";
    Layout = "~/Areas/Admin/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h5 class="page-title">Orders</h5>
        </div>
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-12">
            <div class="card m-b-30 indexPage">
                <div class="padding">
                    <div class="box">
                        <div class="p-1 pl-10">
                            <a class="btn btn-primary" asp-action="Create">Create new</a>
                        </div>
                        <div class="table-responsive">
                            <table id="datatable" class="table table-bordered dt-responsive nowrap p-1">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OrderId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OrderDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Status)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OrderDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                <a class="fa  fa-pencil" asp-action="Edit" asp-route-id="@item.OrderId"> Edit</a> |
                                                <a class=" fa fa-info-circle" asp-action="Details" asp-route-id="@item.OrderId"> Details</a> |
                                                <a class=" fa fa-trash" asp-action="Delete" asp-route-id="@item.OrderId"> Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>