@model IEnumerable<AAL.Models.Item>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="padding">
    <div class="box">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Item Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Brand)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Model)
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Img)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Stock)
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Warehouse
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Brand)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Model)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Desc)
                            </td>
                            <td>
                                <div id="Item_@item.ItemId" style="display:none">
                                    <img src="@item.Img" alt="" height=100 width=200 />
                                </div>
                                <button class="btn-primary" onmouseover=".style.display=='btn-primary:hover'" title="Click to Show/Hide Image"
                                type="button" onclick="if(document.getElementById('Item_@item.ItemId') .style.display=='none') 
                                    {document.getElementById('Item_@item.ItemId') .style.display=''}
                                    else {document.getElementById('Item_@item.ItemId') .style.display='none'}">Show/Hide</button>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cat.CatName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Warehouse.WarehouseName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

